h1,
h3 {
  text-align: center;
  color: rgb(25, 7, 41);
}
h1 {
  padding: 20px;
}

h3 {
  margin: 20px;
}

.container {
  text-align: center;
  align-self: center;
  max-width: 600px;
  margin: 10px;
  padding: 15px 60px;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgba(209, 207, 207, 0.4);
}

.backgroud {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-19670.jpg&fm=jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  max-width: 2000px;
  margin: 40px;
  padding: 15px 60px;
  border: 2px solid #fad1f3;
  border-radius: 20px;
}

.forcast {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(34, 34, 34);
  padding: 2px 10px 20px 15px;
  list-style: none;
}
.weather-today-icon {
  font-size: 80px;
}
.list-group-item {
  border: 0 !important;
}
.weather-icon {
  font-size: 40px;
}
.info {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(34, 34, 34);
  list-style: none;
  padding: 50px;
}
footer {
  text-align: center;
  padding-bottom: 25px;
  font-family: monospace;
}
.unit {
  font-size: small;
  text-decoration: none;
  color: rgb(25, 7, 41);
  padding-right: 10px;
}
.date {
  font-size: medium;
  color: rgb(25, 7, 41);
}
.description {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(34, 34, 34);
  list-style: none;
}
.currentTemp .active {
  color: black;
  cursor: default;
}
.currentTemp .active:hover {
  text-decoration: none;
}

#hour{
  font-weight: bold;
  margin: 0px;
}
